html {
    font-size: 15px;
    box-sizing: border-box;
}

:root {
    --w__desk-s: 65rem; 
    --w__desk-m: 80vw;  
    --w__tabl: 85vw;
    --w__mobi: 90vw;
    --c__accent: var(#ff5a5a);
    --c__pass: var(#92f19a);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    font-family: "Oswald", "Open Sans", sans-serif;
}

body > *, header {
    width: 100%;
}

body > * > div > div, header > div, footer > div {
    margin: 0 auto;
}

h2{
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3{
    font-size: 2rem;
}

body > * > div > div{
    width: var(--w__desk-s);
}

header{
    background: #f8d2b7;
    display: flex;
    align-items: center;
    padding: 150px 0px;
}

header > div > img{
    display: none;
}

nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
}

nav > ul > li{
    list-style: none;
    margin-right: 40px;
}

nav > ul > li > a{
    color: #3f3f40;
    text-decoration: none;
    transition:all 200ms ease;
}

nav > ul > li > a:hover{
    color: #fff;
    transition:all 200ms ease;

}

nav > ul > div {
    background-image: url(img/logo3.png);
    display: block;
    width: 330px; height: 445px;
    transition:all 200ms ease;
}

nav > ul > div:hover {
    background-image: url(img/logo1.png);
    cursor: pointer;
    transition: all 200ms ease-in;
}

/* About */

.aboutMe{
    padding-bottom: 50px;
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.aboutMe > div{
    display: flex;
    flex-direction: column;
}

.aboutMe > div > div{
    display: flex;
    flex-direction: row;
    align-content: center;

}

.aboutText{
    display: block;
    border: 2px black dotted;
    width: 50%;
    padding: 50px;
    margin-right: 30px;
    height: 100%;
}

/* Gallery */


section > .galleryBg{
    background-color:#BAA595;
    height: 100%;
}

section > .galleryBg > div{
    display: flex;
    flex-direction: column;
}

.fotorama{
    margin-bottom: 50px;
}

/* prices */
.prices{
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.prices > div{
    display: flex;
    flex-direction: column;
}

.quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz > *{
    margin-bottom: 100px;
    font-size: 2rem;
}

.changeFormat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#format{
    border: 2px solid black;
    width: 54%;
    font-size: 1.8rem;
}

#timecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#time, #dj{
    width: 50%;
}

#timevalue{
    height: auto; width: auto;
}

#djcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#techncontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#display, #light{
    margin-right: 20px;
}

#light{
    margin-left: 20px;
}

.resultPrice{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resultPrice > *{
    margin-right: 8px ;
}

#sum{
    text-decoration: underline;
}

/* testimonials */
section > .testim{
    background: #D0A688;
}
.testim > div{
    display: flex;
    flex-direction: column;
    align-content:center;
}

#testimonials{
    margin-top: -20px;
}

.block-one-example {
    margin:30px 0;
    position: relative;
}

.menu-top-demo {
    margin-top: 30px;
}

.menu-top-demo ul {
    text-align: center;
}

.menu-top-demo ul li{
    text-align: center;
    display: inline-block;
    line-height: 50px;
}

.menu-top-demo ul li a{
    display: block;
    padding:0 20px;
    color:#fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    margin:10px;
    color:#4BC096;
    border:2px solid #4BC096;
    transition: all .4s ease;
}

.menu-top-demo ul li a:hover{
    border:2px solid #D8D8D8;
}

.menu-top-demo ul li a.active,
.menu-top-demo ul li a.active:hover {
    background-color: #4BC096;
    color:#fff;
    border:2px solid #4BC096;
}

.icon-download a {
    color: #fff;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    width: 100px;
    text-align: center;
    top:0;
    right:0;
    display: block;
    line-height: 60px;
}

.fileSizeDemo{
    color:#fff;
    opacity: 1;
    position: absolute;
    top:-60px;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    background-color: #39BE8E;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: all .4s ease;
    border-radius: 4px;
    font-size: 24px;
    box-shadow: 0 0px 4px rgba(0,0,0,.4);
    opacity: 0;
}

.fileSizeDemo:after {
    content:"";
    position: absolute;
    bottom:-20px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    border:10px solid transparent;
    border-top-color: #39BE8E;
}

.icon-download a:hover .fileSizeDemo{
    color:#fff;
    opacity: 1;
    position: absolute;
    top:-70px;
}

.container {
    max-width: 960px;
    width: 90%;
    margin:0 auto;
}

.inner-testimonial {
    text-align: center;
    background-color: transparent;

}

.inner-testimonial > img{
    max-width: 200px;
    margin:0 auto 15px;
    opacity: 0;
    border-radius: 20px;
    transition:all 1.3s linear;
    border: 3px solid #E8CEBB;
    box-shadow: 0 0 0 1px #ccc, inset 0 0 0 1px #ccc;
}

.owl-item.active .inner-testimonial > img{
    transition:all 1.3s linear;
}

.owl-item.active .inner-testimonial > img.full-opacity {
    opacity:1;
    transition:all 0.3s linear;
}

h3.city-name {
    padding:10px 0;
    font-size: 2rem;
    font-weight: 900;
}

p.text-testimonial {
    padding:10px 0;
    font-size: 1.8rem;
    line-height: 30px;
    background-color: #E8CEBB;
    box-shadow: 0 10px 6px -6px #777;
    padding: 20px;
}

.block-items {
    cursor: default;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
}

.owl-theme .owl-dots .owl-dot.active span{
    width: 18px;
    height: 18px;
}

/* callback */

.callMe > div{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.social div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social div p{
    color: #684125;
}

.callback{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.callback > form > fieldset > legend{
    text-align: center;
}

.callback > form > fieldset{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.callback > form > fieldset input,
.callback > form > fieldset textarea{
    border: 1px solid black;
    font-size: 1.2rem;
}

.callback > form > fieldset > input:nth-child(7){
    width: 50%;
    -ms-grid-row-align: center;
    align-self: center;
    border-top: none;
    text-align: center;
    font-size: 1.3rem;
}




/* footer */

.footerBg{
    background: #FCDFCA;
    margin-top: 30px;
}

.footerBg > div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top:200px;
    align-items: center
}

.footerBg > div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerBg > div ul > li:nth-child(4){
    margin-right: 0px;
}

.footerBg > div ul > li{
    margin-right: 30px;
}

.footerBg > div ul > li a{
    text-decoration: none;
    color: black;
    font-size:x-large;
}

.footerBg > div ul > li a:hover{
    color: #fff;
    transition:all 200ms ease;
}

.footerBg > div > img{
    margin: 20px auto;
}




@media (max-width: 575px) {
    body > * > div > div {
        width: var(--w__mobi);
    }

    nav > ul > div{
        display: none;
    }

    h2{
        font-size: 2.5rem;
        text-align: center;
    }

    h3{
        font-size: 1.5rem;
    }

    header{
        padding: 50px 0px;
    }

    header > div > img{
        display: block;
        width: 70%;
        margin: inherit;

    }

    nav > ul > li{
        margin-right: 0px;
    }

    nav > ul{
        flex-direction: column;
    }

    nav > ul > img{
        width: 20%;
    }

    .aboutMe > div{
        margin-bottom: 20px;
    }

    .aboutMe > div > div{
        flex-direction: column-reverse;
    }

    .aboutText{
        overflow: scroll;
        max-height: 300px;
        width: inherit;
        margin-right: 0px;
        padding: 10px;
    }


    .aboutPhoto{
        text-align: center;
        margin-bottom: 20px;
    }

    .aboutPhoto > img{
        width: 90%;
    }

    #format,
    #timevalue,
    #djvalue{
        font-size: 1.5rem;
    }

    .quiz > *{
        font-size: 1.5rem;
    }

    p.text-testimonial{
        font-size: 1.2rem;
        line-height: inherit;
        max-height: 300px;
        overflow: scroll;
    }

    .social{
        flex-wrap: wrap;
    }

    .callback > form > fieldset input, 
    .callback > form > fieldset textarea{
        font-size:1rem;
    }

    .footerBg > div{
        margin-top: 50px;
    }

    .footerBg > div ul li a{
        font-size: 1.2rem;
    }

    .footerBg > div ul > li{
        margin-right: 15px;
    }

    .footerBg > div > img{
        margin: 10px 0;
        width: 90%;
    }

    .footerBg > div > p{
        text-align: center;
    }

}



@media (min-width: 576px) and (max-width: 800px) {
    body > * > div > div {
        width: var(--w__tabl);
    }

    h2{
        text-align: center;
    }

    nav > ul > div{
        display: none;
    }

    header > div > img{
        display: block;
        width: 70%;
        margin: inherit;
        margin-bottom: 20px;
    }

    nav > ul > li{
        margin-right: 0px;
    }

    nav > ul{
        flex-direction: column;
    }

    nav > ul > img{
        width: 20%;
    }

    .aboutMe > div{
        margin-bottom: 20px;
    }

    .aboutMe > div > div{
        flex-direction: column-reverse;
    }

    .aboutText{
        width: inherit;
        margin-right: 0px;
        padding: 10px;
    }


    .aboutPhoto{
        text-align: center;
        margin-bottom: 20px;
    }

    .aboutPhoto > img{
        width: 60%;
    }
}



@media (min-width: 801) and (max-width: 1280px) {
    body > * > div > div {
        width: var(--w__desk-m);
    }
}
